body {
  background-image: url('../images/ducky-bg.jpg');
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  font-family: 'Aldrich', sans-serif;
  grid-gap: 10px, 10px;
  grid-template-columns: 1fr 800 1fr;
  grid-template-rows: auto auto;
}

.column1 {
  align-items: center;
  display: flex;
  grid-column: 1/2;
  justify-content: center;
}

.column2 {
  grid-column: 2/3;
}

.column3 {
  align-items: center;
  display: flex;
  grid-column: 3/4;
  justify-content: center;
}

footer {
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 2;
  text-align: center;
}

#canvas {
  background-color: white;
  background-image: url('../images/whiteboard.jpg');
  background-size: cover;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 2em auto;
}

button {
    background: #b52600;
    border-radius: 40px;
    border-top: 1px solid #feb0a0;
    box-shadow: #feb0a0 0 1px 0;
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    height: 70px;
    padding: 19.5px 39px;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    vertical-align: middle;
    width: 210px;
}

button:hover {
   background: #feb0a0;
   border-top-color: #b52600;
   color: #000;
   }

p {
    padding: 16px;
}
