body {
  display: flex;
  background-image: url('../images/ducky-bg.jpg');
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.column1 {
  flex: 1;
}

.column2 {
  /*flex: 2;*/
}

.column3 {
  flex: 1;
}

#canvas {
  background-color: white;
  background-image: url('../images/whiteboard.jpg');
  background-size: cover;
  /* border: 1px solid black; */
  margin: 2em auto;
  display: block;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}